<!-- 导航栏  -->
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top rounded">
    <a class="navbar-brand" href="#">XSystem</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggler_id" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="toggler_id">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= params[:controller] == 'today' ? 'active' : '' %>">
                <%= link_to '今日', "#", class:"nav-link" %>
            </li>

            <li class="nav-item <%= params[:controller] == 'work_logs' ? 'active' : '' %>">
                <%= link_to '值班日志',"#", class:"nav-link" %>
            </li>

            <li class="nav-item <%= params[:controller] == 'work_plans' ? 'active' : '' %>">
                <%= link_to '处置预案', "#", class:"nav-link" %>
            </li>
            <li class="nav-item <%= params[:controller] == 'work_file' %>">
              <%= link_to '文档', "#", class:"nav-link" %>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">通信资料</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">64K电缆资料</a>
                    <a class="dropdown-item" href="#">2M资料</a>
                    <a class="dropdown-item" href="#">光缆资料</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
    </div>
</nav>
